@charset "UTF-8";

/* job list card   */
@media only screen and (max-width: 600px) {
  .nav-link{
	color: black;
  }  
  .footer-headings{
	text-align: center;
  }
  .container{
  	width: 100%;
  	display: flex;
  	flex-direction: right;
  }
  .card {
    margin: 0;
    padding: 0;
  }
 .card-img-top{
	padding-left: 50%;
	height: 6rem;
	width: 16rem;
  }
  .jobDetailTitle{
	font-size: 1.2rem;
  }
  .eligiblitiy{
	font-size: 1rem;
  }
  .companyTitle{
	font-size: 1rem;
  }
}

/*End of job list card*/
