<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/index :: head}"></head>


<body>
	
	<nav aria-label="Page navigation example" th:if="${totalPages > 0}" th:fragment="pagination" class=" pagination-nav pb-5 pt-5">
		    <ul class="pagination justify-content-center">
		       <!-- <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
		            <a th:href="@{'?page=1'}" class="page-link">&laquo; First</a>
		        </li>-->
		        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
		            <a th:href="@{'?page=' + ${currentPage - 1}}" class="page-link">&lt; Prev</a>
		        </li>
		        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
		            <a class="page-link" href="#">...</a>
		        </li>
		        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
		            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
		            <a th:href="@{'?page=' + ${page}}" class="page-link" th:text="${page}"></a>
		        </li>
		        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
		            <a class="page-link" href="#">...</a>
		        </li>
		        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
		            <a th:href="@{'?page=' + ${currentPage + 1}}" class="page-link">Next &gt;</a>
		        </li>
		       <!-- <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
		            <a th:href="@{'?page=' + ${totalPages}}" class="page-link">Last &raquo;</a>
		        </li>-->
		    </ul>
		</nav>

</body>
</html>